@font-face {
    font-family: 'rouble';
    src: url('../fonts/rouble.eot');
    src: url('../fonts/rouble.eot?#iefix') format('embedded-opentype'),
        url('../fonts/rouble.woff') format('woff'),
        url('../fonts/rouble.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato-Heavy';
    src: url('../fonts/Lato-Heavy.eot');
    src: url('../fonts/Lato-Heavy.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Lato-Heavy.woff2') format('woff2'),
        url('../fonts/Lato-Heavy.woff') format('woff'),
        url('../fonts/Lato-Heavy.ttf'); 
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato-Regular';
    src: url('../fonts/Lato-Regular.eot');
    src: url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Lato-Regular.woff2') format('woff2'),
        url('../fonts/Lato-Regular.woff') format('woff'),
        url('../fonts/Lato-Regular.ttf'); 
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato-Semibold';
    src: url('../fonts/Lato-Semibold.eot');
    src: url('../fonts/Lato-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Lato-Semibold.woff2') format('woff2'),
        url('../fonts/Lato-Semibold.woff') format('woff'),
        url('../fonts/Lato-Semibold.ttf'); 
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'subset-Lato-Light';
    src: url('../fonts/subset-Lato-Light.eot');
    src: url('../fonts/subset-Lato-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/subset-Lato-Light.woff2') format('woff2'),
        url('../fonts/subset-Lato-Light.woff') format('woff'),
        url('../fonts/subset-Lato-Light.ttf'); 
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
