/*aboutUs*/

.aboutUs-container {
    padding-bottom: 58px;
  }

  .div-aboutUs {
    margin-left: 40px;
    width: 880px;
    color: #878481;
  }

  .p-aboutUs-inside {
    margin-left: 40px;
    color: #878481;
  }

  .p-aboutUs-inside:not(:last-child) {
    margin-bottom: 18px;
  }
