/* accommodation */

.section-accomondation {
  margin-bottom: 64px;
}

  .rating-stars {
    width: 11px;
    height: 11px;
    margin-left: 6px;
  }

  .rating-stars:nth-child(1) {
    padding-left: 34px;
  }

  .rating-stars-empty {
    width: 11px;
    height: 11px;
    margin-left: 6px;
  }

  .accomondation-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .item_desc-price {
    font-size: 18px;
  }

  .accomondation-item-wrapper {
    padding-left: 43px;
  }

  .accomondation-item-rooms {
    color: #cc9933;
    border: 1px solid #cc9933;
    font-size: 16px;
    border-radius: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
  }

.accomondation-item-rooms:focus {
  color: blue;
  border-color: blue;
}

  .accomondation-item-rooms:hover {
    border: 1px solid #fff;
    color: #fff;
    background-color: #cc9933;
    cursor: pointer;
    transition: background color 200ms ease;
  }

  .item_desc-location {
    padding-bottom: 20px;
  }

  .accomondation-item-link {
    font-size: 22px;
    padding-right: 18px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='9.19' height='16' viewBox='0 0 9.19 16'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: none; stroke: %23fff; stroke-linecap: round; stroke-width: 2px; fill-rule: evenodd; %7D %3C/style%3E%3C/defs%3E%3Cpath id='Прямоугольник_2_копия_16' data-name='Прямоугольник 2 копия 16' class='cls-1' d='M1496.5,4094.5l6.79,7-6.79,7' transform='translate(-1495.5 -4093.5)'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;
    color: #fff;
  }

  .accomondation-item-link::after {
    content: url();
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
  }

  .accomondation-item-link:focus {
    color: blue;
  }

  .accomondation-item-link:hover {
    color: #cc9933;
    transition: color 200ms ease;
  }

  .link-accomondation-block {
    padding-left: 40px;
    padding-top: 350px;
  }

  .accomondation-item {
    width: 375px;
    height: 445px;
    position: relative;
    border-radius: 10px;
    background-color: #fff;
    margin-bottom: 22px;
    color: #333333;
  }

  .accomondation-item:nth-child(9) {
    background-image: url("../img/img-19.jpg");
    background-repeat: no-repeat;
  }

