/* benefits */

.list-benefits {
    display: flex;
    width: 1170px;
    /* flex-wrap: wrap; */
    /* justify-content: space-between; */
  }

  .item-benefits {
    width: 270px;
    height: 270px;
    border-radius: 10px;
    margin-right: 21px;
    background-color: #fff;
    margin-bottom: 24px;
    background-size: 59px;
    background-repeat: no-repeat;
    background-position: 43px 40px;
  }

  .p-benefits {
    height: 112px;
    padding-left: 41px;
    font-size: 16px;
    color: #333333;
    padding-top: 102px;
  }

  .newRow-benefits {
    padding-left: 41px;
    color: #333333;
  }

  .item-benefits-1 {
    background-image: url("../img/bathtub.svg");
  }

  .item-benefits-2 {
    background-image: url("../img/hanger.svg");
  }

  .item-benefits-3 {
    background-image: url("../img/heating.svg");
  }

  .item-benefits-4 {
    background-image: url("../img/hotel-key.svg");
  }

  .item-benefits-5 {
    background-image: url("../img/parking.svg");
  }

  .item-benefits-6 {
    background-image: url("../img/reception.svg");
  }

  .item-benefits-7 {
    background-image: url("../img/security-box.svg");
  }

  .item-benefits-8 {
    background-image: url("../img/swimming-pool.svg");
  }

  .item-benefits:nth-child(4,8,10) {
    margin: 0
  }
