/*quickBooking*/

.quickBooking-container {
    width: 540px;
    margin-right: 25px;
  }

  .input-quickBooking {
    height: 70px;
    width: 518px;
    border: unset;
    border-radius: 10px;
    padding-left: 19px;
    margin-bottom: 22px;
  }

  .row-quickBooking {
    display: flex;
  }

  .row-quickBooking {
    align-items: center;
  }

  .div-quickBooking-2 {
    margin-left: 28px;
  }

  .btn-quickBooking {
    height: 70px;
    width: 160px;
    margin-right: 30px;
    border: unset;
    color: #fff;
    border-radius: 10px;
    background-color: #cc9933;
  }

  .btn-quickBooking:hover {
    border: 1px solid #cc9933;
    color: #cc9933;
    background-color: #fff;
    cursor: pointer;
    transition: background color 0.3s ease;
  }

  .btn-quickBooking:focus {
    background-color: blue;
  }

  .strong-quickBooking {
    color: #cc9933;
  }
