
/*services*/


  .list-services {
    display: flex;
    flex-wrap: wrap;
  }

  .item-services {
    display: inline-block;
    position: relative;
    margin-bottom: 24px;
    /* width: 572px; */
    /* height: 325px; */
    background-color: #fff;
    background-repeat: no-repeat;
    border-radius: 10px;
  }

  /* .item-services:nth-child(1) {
    background-image: url("../img/img-2.jpg");
    margin-right: 24px;
  }

  .item-services:nth-child(2) {
    background-image: url("../img/img-3.jpg");
  }

  .item-services:nth-child(3) {
    background-image: url("../img/img-4.jpg");
    margin-right: 24px;
  }

  .item-services:nth-child(4) {
    background-image: url("../img/img-5.jpg");
  } */

  /* .content-services {
    padding-top: 200px;
    padding-left: 43px;
  } */
/*
  .link-services {
    padding-right: 18px;
    display: inline;
    font-size: 22px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='9.19' height='16' viewBox='0 0 9.19 16'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: none; stroke: %23c93; stroke-linecap: round; stroke-width: 2px; fill-rule: evenodd; %7D %3C/style%3E%3C/defs%3E%3Cpath id='Прямоугольник_2_копия_11' data-name='Прямоугольник 2 копия 11' class='cls-1' d='M1292.5,1487.5l6.79,7-6.79,7.01' transform='translate(-1291.5 -1486.5)'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;
    color: #cc9933;
  }

  .link-services:focus {
    color: blue;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='9.19' height='16' viewBox='0 0 9.19 16'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: #blue; stroke: %23c93; stroke-linecap: round; stroke-width: 2px; fill-rule: evenodd; %7D %3C/style%3E%3C/defs%3E%3Cpath id='Прямоугольник_2_копия_11' data-name='Прямоугольник 2 копия 11' class='cls-1' d='M1292.5,1487.5l6.79,7-6.79,7.01' transform='translate(-1291.5 -1486.5)'/%3E%3C/svg%3E%0A");
  } */
/*
  .link-services:hover {
    color: #999;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='9.19' height='16' viewBox='0 0 9.19 16'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: #999; stroke: %23c93; stroke-linecap: round; stroke-width: 2px; fill-rule: evenodd; %7D %3C/style%3E%3C/defs%3E%3Cpath id='Прямоугольник_2_копия_11' data-name='Прямоугольник 2 копия 11' class='cls-1' d='M1292.5,1487.5l6.79,7-6.79,7.01' transform='translate(-1291.5 -1486.5)'/%3E%3C/svg%3E%0A");
    transition: color 0,3s ease;
  } */

  /* .p-services {
    font-size: 16px;
    width: 396px;
    padding-bottom: 30px;
  } */
