@font-face {
  font-weight: 600; /* насыщенность текста, в данном случае, насыщенность нормальная */
  font-style: normal; /* жирность шрифта */
  font-family: "Muller"; /* название шрифта, чтобы использовать его в дальнейшем */
  font-display: swap; /* если данный шрифт не прогрузится, то произойдет замена на запасной, до момента прогрузки основного шрифта*/
  src: url(../fonts/MullerBold.woff2); /* подключение самого шрифта */
}

@font-face {
  font-weight: 300;
  font-style: normal;
  font-family: "Muller";
  font-display: swap;
  src: url(../fonts/MullerLight.woff2);
}

@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: "Muller";
  font-display: swap;
  src: url(../fonts/MullerRegular.woff2);
}

@font-face {
  font-weight: 500;
  font-style: normal;
  font-family: "Muller";
  font-display: swap;
  src: url(../fonts/MullerMedium.woff2);
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  background-color: #f9f9f9;  /* под проект */
  font-family: "Muller", sans-serif;/* в "" свой шрифт под проект*/
  font-size: 16px;
  line-height: 1;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

button, input {
  font: inherit;
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1, h2 {
  margin: 0;
  padding-bottom: 30px;
}

/* container */

.container-fluid {
  max-width: 1170px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/* при работе с float */

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  /* width: 1170px; */
  /* margin-right: auto; */
  /* margin-left: auto; */
}

.section-heading {
  color: #333333;
  padding-left: 40px;
  padding-bottom: 26px;
  font-size: 40px;
  font-weight: 400;
}

.quickBooking-specialOffer {
  display: flex;
  padding-top: 65px;
  padding-bottom: 62px;
}

.section {
  margin-bottom: 58px;
}

.input:focus {
  color: #fff;
  transition: color 200ms ease;
}

.a:focus {
  color: blue;
}
/* Header */

.header {
  height: 113px;
}

.header-container {
  display: flex;
  align-items: center;
  height: 100%;
}

.logo {
  width: 250px;
  height: 55px;
  margin-right: auto;
}

.header-number {
  margin-left: 20px;
  font-weight: 600;
  color: #666666;
}

.header-number:focus {
  color: blue;
}

.header-number:hover {
  color: #cc9933;
  transition: color 200ms ease;
}

.header-cabinet {
  margin-left: 540px;
  color: #cc9933;
}

.nav-list {
  display: flex;
}

.nav {
  display: flex;
  background-color: #fff;
  border: unset;
  border-radius: 10px;
  height: 70px;
  align-items: center;
}

.nav-item-first {
  margin-left: 20px;
}

.nav-link {
  color: #666;
  transition: color 0,3s ease;
}

.nav-link:focus {
  color: blue;
}

.nav-link:hover {
  color: #cc9933;
  transition: color 200ms ease;
}

.nav-item:not(:last-child) {
  margin-right: 40px;
}

.form-header {
  width: 346px;
  position: relative;
  margin-left: auto;
}

.btn-search {
  width: 40px;
  height: 40px;
  border: 0;
  background: url('../img/search.svg') no-repeat 50% 50%;
  background-size: 50%;
  position: absolute;
  right: 15px;
  top: 5px;
  cursor: pointer;
}

.input-header {
  width: 100%;
  height: 47px;
  background-color: #f1f1f1;
  font-size: 14px;
  color: #c5c5c5;
  border: unset;
  border-radius: 10px;
  padding-left: 19px;
}


.link-cabinet {
  font-weight: 500;
  padding-left: 25px;
  align-items: center;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.59 7.41L15.17 11H1V13H15.17L11.58 16.59L13 18L19 12L13 6L11.59 7.41ZM20 6V18H22V6H20Z' fill='%23cc9933'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position-y: center;
  color: #cc9933;
}

.link-cabinet:focus {
  color: blue;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='blue' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.59 7.41L15.17 11H1V13H15.17L11.58 16.59L13 18L19 12L13 6L11.59 7.41ZM20 6V18H22V6H20Z' fill='blue'/%3E%3C/svg%3E%0A");
}

.link-cabinet:hover {
  color: #666;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='blue' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.59 7.41L15.17 11H1V13H15.17L11.58 16.59L13 18L19 12L13 6L11.59 7.41ZM20 6V18H22V6H20Z' fill='%23666'/%3E%3C/svg%3E%0A");
  transition: color 200ms ease;
}


/*quickBooking*/

.quickBooking-container {
  width: 540px;
}

.input-quickBooking {
  height: 70px;
  width: 518px;
  border: unset;
  border-radius: 10px;
  padding-left: 19px;
  margin-bottom: 22px;
}

.row-quickBooking {
  display: flex;
}

.row-quickBooking {
  align-items: center;
}

.div-quickBooking-2 {
  margin-left: 28px;
}

.btn-quickBooking {
  height: 70px;
  width: 160px;
  margin-right: 30px;
  border: unset;
  color: #fff;
  border-radius: 10px;
  background-color: #cc9933;
}

.btn-quickBooking:hover {
  border: 1px solid #cc9933;
  color: #cc9933;
  background-color: #fff;
  cursor: pointer;
  transition: background color 0.3s ease;
}

.btn-quickBooking:focus {
  background-color: blue;
}

.strong-quickBooking {
  color: #cc9933;
}


/*specialOffer*/

.specialOffer-container {
  width: 596px;
}

.heading-specialOffer {
  width: 319px;
  font-size: 58px;
  margin-top: auto;
  padding-top: 260px;
  padding-left: 40px;
  color: #fff;
}

.content-specialOffer {
  display: block;
  background-image: url("../img/img-1.jpg");
  background-repeat: no-repeat;
  /* vertical-align: top; */
}

.row-specialOffer {
  display: flex;
  align-items: center;
  /* margin-top: -25px; */
  padding-bottom: 20px;
}

.price-specialOffer {
  padding-left: 40px;
  font-size: 32px;
  padding-right: 35px;
  color: #878481;
}

.link-detailed {
  font-size: 16px;
  padding-right: 18px;
  position: relative;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='9.19' height='16' viewBox='0 0 9.19 16'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: none; stroke: %23c93; stroke-linecap: round; stroke-width: 2px; fill-rule: evenodd; %7D %3C/style%3E%3C/defs%3E%3Cpath id='Прямоугольник_2_копия_11' data-name='Прямоугольник 2 копия 11' class='cls-1' d='M1292.5,1487.5l6.79,7-6.79,7.01' transform='translate(-1291.5 -1486.5)'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: center;
  color: #cc9933;
}

.link-detailed::after {
  content: ;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.link-detailed:focus {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='9.19' height='16' viewBox='0 0 9.19 16'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: none; stroke: %23000cfb; stroke-linecap: round; stroke-width: 2px; fill-rule: evenodd; %7D %3C/style%3E%3C/defs%3E%3Cpath id='Прямоугольник_2_копия_16' data-name='Прямоугольник 2 копия 16' class='cls-1' d='M1496.5,4094.5l6.79,7-6.79,7' transform='translate(-1495.5 -4093.5)'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: center;
  color: blue;
}

.link-detailed:hover {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='9.19' height='16' viewBox='0 0 9.19 16'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: none; stroke: %23fff; stroke-linecap: round; stroke-width: 2px; fill-rule: evenodd; %7D %3C/style%3E%3C/defs%3E%3Cpath id='Прямоугольник_2_копия_13' data-name='Прямоугольник 2 копия 13' class='cls-1' d='M1424.5,1836.5l6.79,7-6.79,7' transform='translate(-1423.5 -1835.5)'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: center;
  color: #fff;
  transition: color 200ms ease;
}

/*aboutUs*/

.aboutUs-container {
  padding-bottom: 58px;
}

.div-aboutUs {
  margin-left: 40px;
  width: 880px;
  color: #878481;
}

.p-aboutUs-inside {
  margin-left: 40px;
  color: #878481;
}

.p-aboutUs-inside:not(:last-child) {
  margin-bottom: 18px;
}


.p-aboutUs {
  line-height: 2;
  margin-left: 40px;
  width: 880px;
  color: #878481;
  font-weight: 400;
}

/*services*/

/* .list-services {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
} */

.item-services {
  display: inline-block;
  position: relative;
  margin-bottom: 24px;
  min-height: 325px;
}

.content-services {
  background-color: #fff;
  background-repeat: no-repeat;
  border-radius: 10px;
}

.content-services-1 {
  background-image: url("../img/img-2.jpg");
}

.content-services-2 {
  background-image: url("../img/img-3.jpg");
}

.content-services-3 {
  background-image: url("../img/img-4.jpg");
}

.content-services-4 {
  background-image: url("../img/img-5.jpg");
}

.content-services {
  padding-top: 200px;
  padding-left: 43px;
}

.link-services {
  padding-right: 18px;
  font-size: 22px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='9.19' height='16' viewBox='0 0 9.19 16'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: none; stroke: %23c93; stroke-linecap: round; stroke-width: 2px; fill-rule: evenodd; %7D %3C/style%3E%3C/defs%3E%3Cpath id='Прямоугольник_2_копия_13' data-name='Прямоугольник 2 копия 13' class='cls-1' d='M1424.5,1836.5l6.79,7-6.79,7' transform='translate(-1423.5 -1835.5)'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: center;
  color: #cc9933;
}

.link-services:focus {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='9.19' height='16' viewBox='0 0 9.19 16'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: none; stroke: %23000cfb; stroke-linecap: round; stroke-width: 2px; fill-rule: evenodd; %7D %3C/style%3E%3C/defs%3E%3Cpath id='Прямоугольник_2_копия_16' data-name='Прямоугольник 2 копия 16' class='cls-1' d='M1496.5,4094.5l6.79,7-6.79,7' transform='translate(-1495.5 -4093.5)'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: center;
  color: blue;

}

.link-services:hover {
  color: #999;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='9.19' height='16' viewBox='0 0 9.19 16'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: none; stroke: %23999; stroke-linecap: round; stroke-width: 2px; fill-rule: evenodd; %7D %3C/style%3E%3C/defs%3E%3Cpath id='Прямоугольник_2_копия_13' data-name='Прямоугольник 2 копия 13' class='cls-1' d='M1424.5,1836.5l6.79,7-6.79,7' transform='translate(-1423.5 -1835.5)'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: center;
  transition: color 0,3s ease;
}

.p-services {
  font-size: 16px;
  font-weight: 400;
  line-height: 2;
  width: 396px;
  padding-bottom: 30px;
  color: #414141;
}

/* benefits */

.list-benefits {
  /* display: flex;
  flex-wrap: wrap; */
  /* justify-content: space-between; */
}

.item-benefits-block {
  min-height: 270px;
  border-radius: 10px;
  background-color: #fff;
  background-size: 59px;
  background-repeat: no-repeat;
  background-position: 43px 40px;
  margin-bottom: 23px;
}


.p-benefits {
  padding-left: 41px;
  font-size: 16px;
  line-height: 2;
  color: #333333;
  padding-top: 102px;
  padding-right: 35px;
}

.newRow-benefits {
  padding-left: 41px;
  color: #333333;
}

.item-benefits-1 {
  background-image: url("../img/bathtub.svg");
}

.item-benefits-2 {
  background-image: url("../img/hanger.svg");
}

.item-benefits-3 {
  background-image: url("../img/heating.svg");
}

.item-benefits-4 {
  background-image: url("../img/hotel-key.svg");
}

.item-benefits-5 {
  background-image: url("../img/parking.svg");
}

.item-benefits-6 {
  background-image: url("../img/reception.svg");
}

.item-benefits-7 {
  background-image: url("../img/security-box.svg");
}

.item-benefits-8 {
  background-image: url("../img/swimming-pool.svg");
}

/* accommodation */

.accomondation-item-wrapper {
  padding-top: 18px;
}

.accomondation-item {
  color: #333333;
}

.rating-stars {
  width: 11px;
  height: 11px;
  margin-left: 6px;
}

.rating-stars:nth-child(1) {
  padding-left: 34px;
}

.rating-stars-empty {
  width: 11px;
  height: 11px;
  margin-left: 6px;
}

.accomondation-list {
  /* display: flex;
  justify-content: space-between; */
  /* flex-wrap: wrap; */
}

.accomondation-item {
  height: 445px;
  border-radius: 10px;
  background-color: #fff;
  margin-bottom: 22px;
  font-weight: 400;
}

strong.item_desc-price {
  font-size: 22px;
  color: #333333;
}

.item_desc-name {
  font-weight: 400;
  color: #333333;
}

.item_desc-location {
  font-weight: 400;
  color: #a7a7a7;
}

.accomondation-item-wrapper {
  padding-left: 43px;
}

.accomondation-item-rooms {
  color: #cc9933;
  border: 1px solid #cc9933;
  font-size: 16px;
  border-radius: 10px;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.accomondation-item-rooms:focus {
  color: blue;
  border-color: blue;
}

  .accomondation-item-rooms:hover {
    border: 1px solid #fff;
    color: #fff;
    background-color: #cc9933;
    cursor: pointer;
    transition: background color 200ms ease;
  }

.item_desc-location {
  padding-bottom: 20px;
}

.accomondation-item-link {
  display: inline-block;
  font-size: 22px;
  padding-right: 20px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='9.19' height='16' viewBox='0 0 9.19 16'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: none; stroke: %23fff; stroke-linecap: round; stroke-width: 2px; fill-rule: evenodd; %7D %3C/style%3E%3C/defs%3E%3Cpath id='Прямоугольник_2_копия_16' data-name='Прямоугольник 2 копия 16' class='cls-1' d='M1496.5,4094.5l6.79,7-6.79,7' transform='translate(-1495.5 -4093.5)'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: center;
  color: #fff;
}

.accomondation-item-link::after {
  content: ;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.accomondation-item-link:focus {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='9.19' height='16' viewBox='0 0 9.19 16'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: none; stroke: %23000cfb; stroke-linecap: round; stroke-width: 2px; fill-rule: evenodd; %7D %3C/style%3E%3C/defs%3E%3Cpath id='Прямоугольник_2_копия_13' data-name='Прямоугольник 2 копия 13' class='cls-1' d='M1424.5,1836.5l6.79,7-6.79,7' transform='translate(-1423.5 -1835.5)'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: center;
  color: blue;
}

.accomondation-item-link:hover {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='9.19' height='16' viewBox='0 0 9.19 16'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: none; stroke: %23c93; stroke-linecap: round; stroke-width: 2px; fill-rule: evenodd; %7D %3C/style%3E%3C/defs%3E%3Cpath id='Прямоугольник_2_копия_13' data-name='Прямоугольник 2 копия 13' class='cls-1' d='M1424.5,1836.5l6.79,7-6.79,7' transform='translate(-1423.5 -1835.5)'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: center;
  color: #cc9933;
  transition: color 200ms ease;
}

.link-accomondation-block {
  padding-left: 40px;
  padding-top: 350px;
}

.accomondation-item-9 {
  background-image: url("../img/img-19.jpg");
  background-repeat: no-repeat;
}

/* connects-contacts */

.connects-contacts {
  display: flex;
  padding: 44px;
  padding-bottom: 55px;
  border-radius: 10px;
  background-color: #ffffff;
}


.p-contacts-head {
  font-size: 22px;
  font-weight: 600;
  color: #666;
}

.a-contacts {
  font-weight: 600;
  padding: 24px 26px;
  border-radius: 10px;
  border: 1px solid #cc9933;
  color: #cc9933;
}

.a-contacts:focus {
  color: blue;
  border-color: blue;
}

.a-contacts:hover {
  border: 1px solid #fff;
  color: #fff;
  background-color: #cc9933;
  cursor: pointer;
  transition: background color 0.3s ease;
}

.block-link-contacts {
  padding-top: 60px;
}

.link-contacts {
  margin-bottom: 10px;
  color: #cc9933;
}

.link-contacts:focus {
  color: blue;
}

.link-contacts:hover {
  color: #333;
  transition: color 0,3s ease;
}

.p-contacts-description {
  font-weight: 500;
  padding-top: 5px;
  color: #333333;
  line-height: 1.5;
}

.p-contacts-description-1 {
  width: 227px;
  margin-left: 74px;
}

.p-contacts-description-2 {
  width: 155px;
  margin-left: 42px;
}

.p-contacts-description-3 {
  width: 230px;
  margin-left: 82px;
}

.p-contacts-description-4 {
  width: 184px;
  margin-left: 70px;
}

.contacts-adress {
  display: flex;
  padding-bottom: 25px;
  border-bottom: 1px solid #cccccc;
  margin-right: 62px;
}

/* connection */

.section-connection {
  display: flex;
  padding-top: 18px;
}

.block-input-connection {
  display: flex;
  width: 650px;
  flex-direction: row;
}

.heading-connection {
  padding-left: 0;
  margin-bottom: 9px;
}

.a-connection {
  color: #cc9933;
}

.a-connection:focus {
  color: blue;
}

.a-connection:hover {
  color: #333;
  transition: color 0,3s ease;
}

.p-connection {
  margin-bottom: 40px;
  color: #999;
}

.input-connection {
  min-width: 280px;
  padding: 19px;
  margin-right: 23px;
  margin-bottom: 24px;
  border: 1px solid #f1f1f1;
  border-radius: 10px;
  background-color: #f1f1f1;
}

.textarea-connection {
  min-width: 583px;
  padding-left: 19px;
  padding-top: 15px;
  resize: none;
  border: 1px solid #f1f1f1;
  border-radius: 10px;
  background-color: #f1f1f1;
}

.btn-connection {
  font-size: 16px;
  font-weight: 500;
  padding: 25px 127px;
  border: 1px solid #cc9933;
  border-radius: 10px;
  background-color: #cc9933;
  color: #fff;
}

.btn-connection:focus {
  background-color: blue;
  border-color:  blue;
}

.btn-connection:hover {
  color: #cc9933;
  background-color: #fff;
  cursor: pointer;
  transition: background color 0.3s ease;
}


/* footer */

.section-footer {
  margin-top: 21px;
  padding: 47px;
  min-height: 333px;
  line-height: 2;
  border-radius: 10px;
  background-color: #333333;
  background-image: url('../img/logo-footer.svg.png');
  background-position: 670px 180px;
  background-repeat: no-repeat;
}

.container-footer {
  display: flex;
}

.footer-descryption {
  margin-bottom: 47px;
  color: #fff;
}

.link-footer {
  color: #cc9933;
}

.link-footer:focus {
  color: blue;
}

.link-footer:hover {
  color: #fff;
  transition: color 0.3s ease;
}

.content-footer-1 {
  width: 155px;
  margin-bottom: 30px;
}

.container-footer-2 {
  width: 100px;
}

.link-social-footer {
  display: flex;
  width: 25px;
  height: 25px;
  margin-bottom: 30px;
}


.link-social-footer-1 {
  background-image: url("../img/tripadvisor.svg");
  background-repeat: no-repeat;
  background-size: 25px;
}

.link-social-footer-2 {
  background-image: url("../img/twitter.svg");
  background-repeat: no-repeat;
  background-size: 25px;
}

.link-social-footer-3 {
  background-image: url("../img/facebook.svg");
  background-repeat: no-repeat;
  background-size: 25px;
}

.link-social-footer-4 {
  background-image: url("../img/social.svg");
  background-repeat: no-repeat;
  background-size: 25px;
}

.link-social-footer-5 {
  background-image: url("../img/google-plus-social-logotype.svg");
  background-repeat: no-repeat;
  background-size: 25px;
}








