@font-face {
    font-weight: 300;
    font-family: "Montser";
    src: url('../fonts/Montserrat-Light.woff');
  }
  
  @font-face {
    font-weight: 400;
    font-family: "Montser";
    src: url('../fonts/Montserrat-Regular.woff');
  }
  
  @font-face {
    font-weight: 600;
    font-family: "Montser";
    src: url('../fonts/Montserrat-SemiBold.woff');
  }
  
  @font-face {
    font-weight: 500;
    font-family: "Montser";
    src: url('../fonts/Montserrat-Medium.woff');
  }
  
  @font-face {
    font-weight: 800;
    font-family: "Montser";
    src: url('../fonts/Montserrat-ExtraBold.woff');
  }

/* ?styles */

body {
    font-family: "Montser";
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1280px;
    padding: 0px 128px;
}

/* !header */

.header {
    padding-bottom: 42px;
    background: url('../img/header-back.png') center center / 100% no-repeat;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0px;
}

.logo {
    margin-right: 123px;
}

.header-list {
    width: 64%;
}

.header-nav-list {
    display: flex;
}

.header-nav-link {
    font-size: 18px;
    font-weight: 400;
    margin-right: 62px;
    color: #fff;
}

.header-nav-phone, .header-nav-p {
    color: #fff;
}

.header-nav-end {
    padding-top: 15px;
    text-align: right;
}

.header-nav-phone {
    display: inline-block;
    padding-bottom: 3px;
    font-size: 24px;
    font-weight: 700;
}

.header-nav-p {
    font-size: 18px;
    font-weight: 400;
}

.header-title {
    font-size: 38px;
    font-weight: 700;
    margin-top: 9px;
    color: #fff;
}

.burger {
    display: none;
}

/* !hero */

.hero {
    text-align: center;
}

.hero-selects {
    margin: 37px 0px;
    display: flex;
}

.hero-selects-p {
    font-size: 18px;
    font-weight: 700;
    margin-right: 48px;
}

.hero-selects-price {
    margin-right: 55px;
}

.hero-container {
    text-align: left;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.hero-block {
    max-width: 380px;
    margin-bottom: 27px;
}

.hero-block4, .hero-block5, .hero-block6 {
    margin-bottom: 68px;
}

.hero-block-sale {
    display: inline-block;
    padding: 9px 19px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    background: #E52D2D;
}

.hero-block-img {
    position: relative;
}

.hero-block-sale-like {
    display: flex;
    justify-content: space-between;
    width: 83%;
    position: absolute;
    top: 34px;
    left: 38px;
}

.like {
    width: 46px;
    height: 40px;
    background: url('../img/like.svg') center center / 100% no-repeat;
}

.hero-content {
    display: flex;
    flex-direction: column;
    background: #F3F3F3;
    padding: 29px 33px 29px 29px;
}

.hero-content-heading {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 22px;
}

.hero-content-list {
    display: flex;
    align-items: center;
    margin-bottom: 22px;
    padding-left: 18px;
    border-left: 4px solid #6EBBD3;
}

.hero-content-p {
    font-size: 12px;
    font-weight: 400;
}

.hero-content-span {
    font-size: 16px;
    font-weight: 700;
}

.hero-content-price {
    font-size: 24px;
    font-weight: 700;
}

.hero-content-item:nth-child(1) {
    width: 89px;
    margin-right: 20px;
}

.hero-content-item:nth-child(2) {
    margin-right: 48px;
}

.hero-content-btn {
    font-size: 16px;
    font-weight: 700;
    padding: 22px 158px;
    border: unset;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #fff;
}

.hero-content-btn-bye {
    background: #6EBBD3;
}

.hero-content-btn-sale {
    background: #1F2021;
}

.hero-block-end-btn {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 83px;
    background: #fff;
    padding: 24px 129px;
    border-radius: 5px;
    border: 1px solid #cacaca;
}

/* !footer */

.footer {
    background: #1F2021;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    padding: 83px 80px 92px 80px;
}

.footer-block1-heading {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 26px;
    color: #fff;
}

.footer-block1-description {
    max-width: 401px;
    font-size: 28px;
    font-weight: 400;
    color: #fff;
}

.footer-block2-form {
    display: flex;
    flex-direction: column;
}

.footer input {
    max-width: 300px;
}

.footer button {
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    background: #6EBBD3;
    max-width: 250px;
}

.footer input, .footer button {
    border-radius: 10px;
    padding: 22px 33px;
}

.footer-block2-p {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
}

.footer label {
    display: flex;
    align-items: center;
    margin-top: 24px;
}

.footer .footer-block2-checkbox {
    width: 18px;
    height: 18px;
    margin-right: 18px;
}