$cont-padd: 241px;

// common styles

body {
    width: 100%;
    overflow-x: hidden;
    font-family: 'SignikaNegative-Regular';
}

.content {
    border-top: 2px dashed #d1d1d1;
}

a {
    text-decoration: none;
    display: block;
}

h2 {
    width: 207px;
    white-space: nowrap;
    margin: 0 auto;
    font-size: 24px;
    position: relative;
    color: #093059;
    text-align: center;
    background-color: #ffff;
    padding: 0 10px;
}

.container {
    padding: 0 $cont-padd;
}

// header

.header__content {
    display: flex;
    justify-content: space-between;
    .header__logo {
        margin-top: 6.1rem;
        width: 240px;
        img {
            width: 100%;
        }
    }
    .header__nav {
        padding-bottom: 2rem;
        ul {
            display: flex;
            li {
                width: 163px;
                text-align: center;
                margin-right: 1.7rem;
                a {
                    padding-top: 6rem;
                    font-size: 20px;
                    color: #003764;
                }
                .active-nav-link {
                    background: url('../img/blue-line.png') center top / 100% no-repeat;
                    color: #0e57a1;
                }
                &:nth-child(5) {
                    margin-right: 0;
                    width: auto;
                }
            }
        }
    }
}

.summer {
    background: #0e57a1 url('../img/hand-phone.png') 35rem 2.2rem/60% no-repeat;
    .summer__content {
        padding-bottom: 4.4rem;
        .summer__social-list {
            display: flex;
            li {
                a {
                    width: 81px;
                    min-height: 67px;
                    text-align: center;
                    align-items: center;
                    padding-top: 1.5rem;
                    background-color: #246fbb;
                    border-right: 1px solid #003764;
                    transition: all ease 0.5s;
                    &:hover {
                        background-color: #8eb61c;
                    } 
                    img {
                        width: 24px;
                    }
                    .fb {
                        width: 14px;
                    }
                }
            }
        }
        p {
            color: #ffff;
        }
        .summer__head {
            max-width: 584px;
            line-height: 43px;
            margin-top: 4.4rem;
            font-family: 'SignikaNegative-SemiBold';
            font-size: 33px;
            text-transform: uppercase;
        }
        .summer__description {
            max-width: 604px;
            margin-top: 1rem;
            line-height: 27px;
            font-size: 21px;
        }
        .summer__play-block {
            align-items: center;
            margin-top: 3rem;
            display: flex;
            .summer__play {
                border: 2px solid #002c58;
                width: 204px;
                height: 130px;
                background: url('../img/play.svg') center center / 15px no-repeat, url('../img/play-block.svg') center center / 59px no-repeat;
                cursor: pointer;
            }
            .summer__play-text {
                align-items: center;
                margin-left: 2.4rem;
                img {
                    width: 57px;
                    margin-right: 8px;
                }
                span {
                    font-family: 'TektonPro-BoldCond';
                    font-size: 31px;
                    text-transform: uppercase;
                }
            }
        }
        .summer__p {
            margin-top: 2.4rem;
            font-size: 21px;
        }
        .summer__buttons {
            margin-top: 7px;
            display: flex;
            .summer__button {
                color: #ffff;
                font-family: 'SignikaNegative-SemiBold';
                font-size: 22px;
                text-transform: uppercase;
                padding: 15px 17px;
                border: 1px solid #000;
            }
            .summer__button1 {
                margin-right: 10px;
                background: #70a00d;
            }
            .summer__button2 {
                background: #a4471c;
            }
        }
    }
}

.best {
    position: relative;
    margin-top: 2rem;
    h2 {
        position: relative;
        top: 1.2rem;
    }
    .best__content {
        display: flex;
        
        .best__block {
            text-align: center;
            margin-top: 3.6rem;
            margin-right: 10px;
            .best__block-img {
                position: relative;
                padding-top: 1.2rem;
                min-height: 158px;
                align-items: center;
                text-align: center;
                background-color: #f8f8f8;
                div {
                    margin: 0 auto;
                    width: 78px;
                    img {
                        width: 100%;
                    }
                }
                p {
                    width: 100%;
                    text-align: center;
                    bottom: 12px;
                    font-size: 21px;
                    position: absolute;
                    color: #0e57a1;
                }
            }
            .best__block-img2 {
                div {
                    width: 54px;
                }
            }
            .best__block-img4 {
                div {
                    width: 99px;
                }
            }
            .best__block-img5 {
                div {
                    width: 89px;
                }
            }
            .best__block-description {
                font-size: 17px;
                padding: 7px 10px;
            }
            a {
                font-size: 19px;
                text-decoration: underline solid #0e57a1;
                color: #0e57a1;
            }
        }
    }
}

.showcase-news__content {
    display: flex;
    margin-top: 1.6rem;
    .showcase {
        h2 {
            top: 1.3rem;
        }
        .showcase__content {
            width: 569px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding-top: 4rem;
            
            .showcase__block {
                width: 275px;
                min-height: 194px;
                margin-bottom: 1.5rem;
                text-align: center;
                display: flex;
                align-items: center;
                position: relative;
                background-color: #0e57a1;
                span {
                    position: absolute;
                    top: 0;
                    left: 0;
                    font-size: 20px;
                    color: #fff;
                    width: 52px;
                    justify-content: center;
                    align-items: center;
                    height: 52px;
                    text-align: center;
                    display: flex;
                    background-color: #001e3c;
                }
                p {
                    font-size: 34px;
                    margin:  0 auto;
                    color: #fff;
                }
            }
            .showcase__block1 {
                p {
                    font-size: 20px;
                    position: absolute;
                    right: 14px;
                    bottom: 17px;
                }
            }
        }
    }
    .news {
        margin-left: 13px;
        h2 {
            top: 1.3rem;
        }
        .news__content {
            display: flex;
            flex-direction: column;
            width: auto;
            
            padding-top: 2rem;
            .news__block {
                display: flex;
                margin-bottom: 5px;
                .news__date-block {
                    width: 264px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    p {
                        display: flex;
                        line-height: 25px;
                        justify-content: center;
                        align-items: center;
                        color: #0e57a1;
                        font-size: 43px;
                    }
                    span {
                        color: #0e57a1;
                        display: block;
                    }
                    .span-date {
                        margin-top: -2px;
                    }
                }
                .news__text-block {
                    padding-left: 2rem;
                    height: 135px;
                    background-color: #f8f8f8;
                    border-left: 1px solid #0e57a1;
                    p {
                        padding-top: 10px;
                        span {
                            display: block;
                            word-spacing: 2px;
                            font-size: 18px;
                            a {
                                display: unset;
                            }
                        }
                    }
                    .news__text-inside {
                        display: flex;
                        p {
                            padding-top: 0;
                            word-spacing: 2px;
                            font-size: 18px;
                        }
                        a {
                            margin-top: 10px;
                            font-size: 18px;
                            white-space: nowrap;
                            padding: 13px 43px;
                            text-align: center;
                            display: flex;
                            align-items: center;
                            background-color: #001e3c;
                            color: #fff;
                            transition: all ease 0.5s;
                            &:hover {  
                                background-color: #fff;
                                color: #001e3c;
                            }
                        }
                    }
                }
                .news__date-block1 {
                    .news__text-block {
                        p {
                            padding-top: 45px;
                        }
                    }
                }
                .news__date-block2, .news__date-block3 {
                    .news__text-block {
                        margin-top: 10px;
                    }
                }
            }
            .news__block1 {
                margin-top: 2rem;
            }
        }
    }
}

.people {
    margin-top: 1.3rem;
    h2 {
        top: 1.3rem;
    }
    .container {
        padding: 0;
    }
    .people__container {
        background-color: #f1f1f1;
        padding: 0 $cont-padd;
        padding-top: 2rem;
        padding-bottom: 0.2rem;
        margin-top: 3.6rem;
        .people-slider {
            button {
                width: 35px;
                height: 50px;
                top: 6.3rem;
            }
            .slick-prev {
                left: -4rem;
                background: url('../img/arrow-prev.png') center center / cover no-repeat;
            }
            .slick-next {
                right: -4rem;
                background: url('../img/arrow-next.png') center center / cover no-repeat;
            }
            .slick-next:before, .slick-prev::before{
                content: '';
            }
            .people__block {
                .people__block-el1 {
                    height: 272px;
                    margin-right: 8px;
                    padding: 29px 33px;
                    background: url('../img/message-user.png') center center / cover no-repeat;
                    p {
                        font-size: 18px;
                        color: #484848;
                        span {
                            color: #001e3c;
                        }
                    }
                }
                .people__block-el2 {
                    display: flex;
                    align-items: center;
                    margin-top: 1rem;
                    margin-left: 2rem;
                    div {
                        width: 92px;
                        margin-right: 2rem;
                        img {
                            width: 100%;
                        }
                    }
                    p {      
                        font-size: 20px;
                        color: #0e57a1;
                    }
                }
            }
        }
    }
}

footer {
    margin-top: 4.5rem;
    .footer__content {
        display: flex;
        padding-top: 3.4rem;
        p {
            font-size: 18px;
            word-spacing: 3px;
        }
        p:nth-child(1) {
            color: #001e3c;
            margin-right: 7px;
        }
        p:nth-child(2) {
            margin-right: 10px;
        }
        p:nth-child(2), p:nth-child(3) {
            color: #0e57a1;
        } 
        ul {
            display: flex;
            margin: 0;
            padding: 0;
            list-style: none;
            align-items: center;
            margin-left: 3rem;
            li {
                height: auto;
                a {
                    width: 13px;
                    height: auto;
                    margin-right: 0.8rem;
                    img {
                        width: 100%;
                    }
                }
            }
            li:nth-child(1),  li:nth-child(2),  li:nth-child(3),  li:nth-child(5) {
                a {
                    width: 23px;
                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
}

.popup {
    width: 100%;
    height: 100%;
    position: fixed;
    top: -100vw;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    transition: all 0.8s ease;
    z-index: 2;
    .popup-body {
        min-height: 100%;
        position: relative;
        justify-content: center;
        align-items: center;
        text-align: center;
        display: flex;
        .popup-content {
            position: relative;
            border: 2px solid #000;
            background-color: #fdfdfd80;
            padding: 30px 20px;
        }
    }
    .close {
        top: 3px;
        right: 0;
        position: absolute;
        align-items: center;
        cursor: pointer;
        background-color: #fff;
    }
}

.open-popup {
    top: 0vw;
}

.close-popup {
    top: -100vw;
}



