@font-face {
  font-weight: 300;
  font-family: "Montser";
  src: url("../fonts/Montserrat-Light.woff");
}

@font-face {
  font-weight: 400;
  font-family: "Montser";
  src: url("../fonts/Montserrat-Regular.woff");
}

@font-face {
  font-weight: 600;
  font-family: "Montser";
  src: url("../fonts/Montserrat-SemiBold.woff");
}

@font-face {
  font-weight: 500;
  font-family: "Montser";
  src: url("../fonts/Montserrat-Medium.woff");
}

@font-face {
  font-weight: 800;
  font-family: "Montser";
  src: url("../fonts/Montserrat-ExtraBold.woff");
}

* {
  font-family: "Montser", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

p {
  padding: 0;
  margin: 0;
}

a {
  cursor: url("../img/cursor_active.svg"), default;
  text-decoration: none;
}

input[type=radio] + label {
  cursor: url("../img/cursor_active.svg"), default;
}

ul {
  list-style-type: none;
}

body {
  height: 100%;
  cursor: url("../img/cursor.svg"), default;
  background: #6E105E -webkit-gradient(linear, left top, left bottom, color-stop(3.12%, rgba(110, 16, 94, 0)), to(#320029));
  background: #6E105E linear-gradient(180deg, rgba(110, 16, 94, 0) 3.12%, #320029 100%);
}

.container {
  padding: 0px 68px;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__content .header__logo-link {
  width: 98px;
  height: 98px;
}

.header__content .header__logo-link .header__logo-img {
  width: 100%;
}

.header__content .header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__content .header__nav .header__trigger {
  display: none;
}

.header__content .header__nav .header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__content .header__nav .header__menu .header__item-link {
  font-family: "Montser";
  font-size: 20px;
  font-weight: 600;
  margin-right: 30px;
  color: #EFF3F5;
}

.header__content .header__language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__content .header__language .header__language-link {
  font-family: "Montser";
  font-size: 20px;
  font-weight: 600;
  margin-right: 0px;
  color: #EFF3F5;
}

.header__content .header__language .header__language-span {
  font-family: "Montser";
  font-size: 20px;
  font-weight: 600;
  margin-right: 0px;
  color: #EFF3F5;
}

.header__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 32px;
}

.header__block .header__block-link {
  font-family: "Montser";
  font-size: 14px;
  font-weight: 300;
  margin-right: 0px;
  color: #EFF3F5;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  padding: 2px 11px;
}

.header__block .header__block-link:hover {
  background: #EFF3F5;
  color: #6E105E;
  border-radius: 20px;
}

.header__block .header__span {
  font-family: "Montser";
  font-size: 14px;
  font-weight: 300;
  margin-right: 0px;
  color: #EFF3F5;
  margin-left: 2px;
  margin-right: 2px;
}

.blogers .blogers__heading {
  font-weight: 800;
  font-size: 50px;
  margin-bottom: 54px;
  color: #EFF3F5;
  text-align: center;
}

.blogers .blogers__block1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
}

.blogers .blogers__block1 .blogers__block1-span {
  display: block;
  margin-right: 40px;
  font-weight: 300;
  font-size: 20px;
  margin-bottom: 0px;
  color: #EFF3F5;
}

.blogers .blogers__block1 .select {
  position: relative;
  width: 230px;
  height: 40px;
  margin: 0 auto;
}

.blogers .blogers__block1 .select[data-state="active"] .select__title::before {
  -webkit-transform: translate(-3px, -50%) rotate(-45deg);
          transform: translate(-3px, -50%) rotate(-45deg);
}

.blogers .blogers__block1 .select[data-state="active"] .select__title::after {
  -webkit-transform: translate(3px, -50%) rotate(45deg);
          transform: translate(3px, -50%) rotate(45deg);
}

.blogers .blogers__block1 .select[data-state="active"] .select__content {
  opacity: 1;
}

.blogers .blogers__block1 .select[data-state="active"] .select__label + .select__input + .select__label {
  max-height: 40px;
  border-top-width: 1px;
}

.blogers .blogers__block1 .select__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  color: #EFF3F5;
  border-radius: 5px;
}

.blogers .blogers__block1 .select__title::before, .blogers .blogers__block1 .select__title::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 16px;
  display: block;
  width: 10px;
  height: 2px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  background-color: #EFF3F5;
  -webkit-transform: translate(-3px, -50%) rotate(45deg);
          transform: translate(-3px, -50%) rotate(45deg);
}

.blogers .blogers__block1 .select__title::after {
  -webkit-transform: translate(3px, -50%) rotate(-45deg);
          transform: translate(3px, -50%) rotate(-45deg);
}

.blogers .blogers__block1 .select__title:hover {
  border-color: #D26600;
}

.blogers .blogers__block1 .select__title:hover::before, .blogers .blogers__block1 .select__title:hover::after {
  background-color: #D26600;
}

.blogers .blogers__block1 .select__content {
  position: absolute;
  top: 40px;
  left: 3px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: calc(100% - 6px);
  background-color: #6E105E;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: inset 0px 0px 5px 5px rgba(255, 255, 255, 0.25);
          box-shadow: inset 0px 0px 5px 5px rgba(255, 255, 255, 0.25);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  border: 1px solid #c7ccd1;
  border-top: none;
  border-radius: 12px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  opacity: 0;
  z-index: 8;
}

.blogers .blogers__block1 .select__input {
  display: none;
}

.blogers .blogers__block1 .select__input:checked + label {
  background-color: #dedede;
}

.blogers .blogers__block1 .select__input:disabled + label {
  opacity: 0.6;
}

.blogers .blogers__block1 .select__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 25px;
  max-height: 0;
  color: #EFF3F5;
  padding: 0 10px;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  overflow: hidden;
}

.blogers .blogers__block1 .select__label + input + .blogers .blogers__block1 .select__label {
  border-top: 0 solid #C7CCD160;
}

.blogers .blogers__block1 .select__label:hover {
  background-color: #D26600 !important;
  color: #EFF3F5;
  border-radius: 5px;
}

.blogers__block2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blogers__block2 .blogers__block2-profile {
  display: inline-block;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 311px;
  height: 311px;
  z-index: 1;
  position: relative;
  margin-bottom: 50px;
  padding: 188px 12px 0px 12px;
}

.blogers__block2 .blogers__block2-profile::before {
  width: 100%;
  height: 100%;
  opacity: .4;
  display: block;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(189, 28, 159, 0.5);
  z-index: -1;
}

.blogers__block2 .blogers__block2-profile .blogers__block2-name {
  margin-bottom: 10px;
  font-family: "Montser";
  font-size: 30px;
  font-weight: 600;
  margin-right: 0px;
  color: #EFF3F5;
}

.blogers__block2 .blogers__block2-profile .blogers__block2-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.blogers__block2 .blogers__block2-profile .blogers__block2-social .blogers__block2-el {
  font-family: "Montser";
  font-size: 20px;
  font-weight: 500;
  margin-right: 15px;
  color: #EFF3F5;
}

.blogers__block2 .blogers__block2-profile .blogers__block2-social .blogers__block2-el1 {
  padding-left: 31px;
  background: 0% center/20% no-repeat url("../img/youtube.svg");
}

.blogers__block2 .blogers__block2-profile .blogers__block2-social .blogers__block2-el2 {
  padding-left: 31px;
  margin-top: 15px;
  background: 0% center/22% no-repeat url("../img/vk.svg");
}

.blogers__block2 .blogers__block2-profile .blogers__block2-social .blogers__block2-el3 {
  padding-left: 31px;
  margin-top: 15px;
  background: 0% center/22% no-repeat url("../img/inst.svg");
}

.blogers__block2 .blogers__block2-profile1 {
  background: center/cover no-repeat url("../img/user-1.jpg");
}

.blogers__block2 .blogers__block2-profile2 {
  background: center/cover no-repeat url("../img/user-2.jpg");
}

.blogers__block2 .blogers__block2-profile3 {
  background: center/cover no-repeat url("../img/user-3.jpg");
}

.blogers__block2 .blogers__block2-profile4 {
  background: center/cover no-repeat url("../img/user-4.jpg");
}

.blogers__block2 .blogers__block2-profile5 {
  background: center/cover no-repeat url("../img/user-5.jpg");
}

.blogers__block2 .blogers__block2-profile6 {
  background: center/cover no-repeat url("../img/user-profile.jpg");
}

.blogers__block2 .blogers__block2-profile7 {
  background: center/cover no-repeat url("../img/user-7.jpg");
}

.blogers__block2 .blogers__block2-profile8 {
  background: center/cover no-repeat url("../img/user-8.jpg");
}

.footer {
  border-top: 1px solid #EFF3F5;
}

.footer .footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 71px;
}

.footer .footer__content .footer__logo {
  display: inline-block;
  width: 201px;
  height: 201px;
}

.footer .footer__content .footer__logo .footer__logo-img {
  width: 100%;
  height: 100%;
}

.footer .footer__content .footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .footer__content .footer__list .footer__list-item {
  margin-right: 47px;
}

.footer .footer__content .footer__list .footer__list-item .footer__item-link {
  font-family: "Montser";
  font-size: 20px;
  font-weight: 600;
  margin-right: 0px;
  color: #EFF3F5;
}

.footer .footer__content .footer__social-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

.footer .footer__content .footer__social-block .footer__social-block-el {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-bottom: 10px;
}

.footer .footer__content .footer__social-block .footer__social-block-el1 {
  margin-right: 30px;
  background: center/cover no-repeat url("../img/vk-footer.svg");
}

.footer .footer__content .footer__social-block .footer__social-block-el2 {
  background: center/cover no-repeat url("../img/inst-footer.svg");
}

.user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 571px;
  padding-right: 40px;
  margin-top: 48px;
  border-radius: 5px;
  margin-bottom: 40px;
  background: rgba(255, 255, 255, 0.25);
  border: 1px solid #EFF3F5;
}

.user .user__avatar {
  max-width: 409px;
  min-height: 570px;
  margin-right: 40px;
}

.user .user__avatar .user__avatar-img {
  max-width: 517px;
}

.user .user__data .user__data-name {
  font-family: "Montser";
  font-size: 50px;
  font-weight: 800;
  margin-right: 0px;
  color: #EFF3F5;
  padding-bottom: 30px;
  border-bottom: 1px solid #EFF3F5;
}

.user .user__data .user__data-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-right: 427px;
}

.user .user__data .user__data-social .user__data-social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 64px;
  padding-bottom: 32px;
  font-family: "Montser";
  font-size: 30px;
  font-weight: 700;
  margin-right: 0px;
  color: #EFF3F5;
}

.user .user__data .user__data-social .user__data-social-link .user__data-social-span {
  display: inline-block;
  font-family: "Montser";
  font-size: 16px;
  font-weight: 500;
  margin-right: 0px;
  color: #EFF3F5;
}

.user .user__data .user__data-social .user__data-social-link1 {
  background: 0% 5%/23% no-repeat url("../img/yt-profile.svg");
}

.user .user__data .user__data-social .user__data-social-link2 {
  background: 0% 5%/23% no-repeat url("../img/vk-profile.svg");
}

.user .user__data .user__data-social .user__data-social-link3 {
  background: 0% 5%/23% no-repeat url("../img/inst-profile.svg");
}

.user .user__info {
  padding-top: 32px;
  border-top: 1px solid #EFF3F5;
}

.user .user__info .user__info-heading {
  font-family: "Montser";
  font-size: 30px;
  font-weight: 600;
  margin-right: 0px;
  color: #EFF3F5;
  margin-bottom: 10px;
}

.user .user__info .user__info-description {
  overflow: auto;
  height: auto;
  font-family: "Montser";
  font-size: 16px;
  font-weight: 500;
  margin-right: 0px;
  color: #EFF3F5;
  line-height: 24px;
}

.videos {
  text-align: center;
  margin-bottom: 80px;
}

.videos .videos__heading {
  font-family: "Montser";
  font-size: 50px;
  font-weight: 800;
  margin-right: 0px;
  color: #EFF3F5;
  margin-bottom: 50px;
}

.videos .videos__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.videos .videos__content .videos__block {
  display: inline-block;
  width: 447px;
  margin-bottom: 20px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 217px;
}

.videos .videos__content .videos__block .videos__block-play {
  width: 60px;
  margin: auto;
  margin-top: 79px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  background: center/70% no-repeat url("../img/video_play.svg");
}

.videos .videos__content .videos__block1 {
  background: center/100% no-repeat url("../img/videos-1.png");
}

.videos .videos__content .videos__block2 {
  background: center/cover no-repeat url("../img//video-2.png");
}

.videos .videos__content .videos__block3 {
  background: center/cover no-repeat url("../img/video-3.png");
}

.videos .videos__content .videos__block4 {
  background: center/cover no-repeat url("../img/video-4.png");
}

.videos .videos__content .videos__block5 {
  background: center/cover no-repeat url("../img/video-5.png");
}

.videos .videos__content .videos__block6 {
  background: center/cover no-repeat url("../img/video-6.png");
}

.others {
  text-align: center;
}

.others .others__heading {
  font-family: "Montser";
  font-size: 50px;
  font-weight: 800;
  margin-right: 0px;
  color: #EFF3F5;
}

.others .others__blocks {
  width: auto;
  overflow: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.others .others__blocks .others__block-link {
  margin-right: 20px;
  display: inline-block;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 311px;
  height: 311px;
  z-index: 1;
  position: relative;
  margin-bottom: 0px;
  padding: 186px 0px 0px 0px;
}

.others .others__blocks .others__block-link::before {
  width: 100%;
  height: 100%;
  opacity: .4;
  display: block;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(189, 28, 159, 0.5);
  z-index: -1;
}

.others .others__blocks .others__block-link .blogers__block2-name {
  margin-bottom: 10px;
  width: 270px;
  font-family: "Montser";
  font-size: 30px;
  font-weight: 600;
  margin-right: 0px;
  color: #EFF3F5;
}

.others .others__blocks .others__block-link .blogers__block2-social {
  width: 299px;
  padding-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.others .others__blocks .others__block-link .blogers__block2-social .blogers__block2-el {
  font-family: "Montser";
  font-size: 20px;
  font-weight: 500;
  margin-right: 15px;
  color: #EFF3F5;
}

.others .others__blocks .others__block-link .blogers__block2-social .blogers__block2-el1 {
  padding-left: 31px;
  background: 0% center/20% no-repeat url("../img/youtube.svg");
}

.others .others__blocks .others__block-link .blogers__block2-social .blogers__block2-el2 {
  padding-left: 31px;
  background: 0% center/22% no-repeat url("../img/vk.svg");
}

.others .others__blocks .others__block-link .blogers__block2-social .blogers__block2-el3 {
  padding-left: 31px;
  margin-top: 15px;
  background: 0% center/22% no-repeat url("../img/inst.svg");
}

.others .others__blocks .others__block-link1 {
  background: center/cover no-repeat url("../img/user-1.jpg");
}

.others .others__blocks .others__block-link2 {
  background: center/cover no-repeat url("../img/user-2.jpg");
}

.others .others__blocks .others__block-link3 {
  background: center/cover no-repeat url("../img/user-3.jpg");
}

.others .others__blocks .others__block-link4 {
  background: center/cover no-repeat url("../img/user-4.jpg");
}

.others .others__blocks .others__block-link5 {
  background: center/cover no-repeat url("../img/user-5.jpg");
}

.others .others__blocks .others__block-link6 {
  background: center/cover no-repeat url("../img/user-profile.jpg");
}

.others .others__blocks .others__block-link7 {
  background: center/cover no-repeat url("../img/user-7.jpg");
}

.others .others__blocks .others__block-link8 {
  margin-right: 0;
  background: center/cover no-repeat url("../img/user-8.jpg");
}

.footer__profile {
  border-top: none;
}

@media (max-width: 769px) {
  .header__logo-link {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .header__menu {
    display: none;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    position: absolute;
    min-height: 400px;
    border-radius: 12px;
    -webkit-box-shadow: inset 0px 0px 5px 5px rgba(255, 255, 255, 0.25);
            box-shadow: inset 0px 0px 5px 5px rgba(255, 255, 255, 0.25);
    -webkit-backdrop-filter: blur(20px);
            backdrop-filter: blur(20px);
  }
  .header__menu li {
    margin-top: 50px;
  }
  .header__trigger {
    display: inline-block;
    margin: 3px;
    cursor: pointer;
  }
  .header__trigger i {
    display: block;
    width: 30px;
    height: 6px;
    margin: 4px auto;
    background: #222;
  }
  .show {
    display: block;
  }
  .blogers__block1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blogers__block2-profile {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */